*
{
  padding: 100;
  margin: 0;
  box-sizing: inherit;
}
@font-face {
font-family: "mont";
src: url("Montserrat/Montserrat-Thin.ttf");
}
body{
  background-image: url(images/images/dhikr.jpg) ;
  background-size: cover;
}
.menu-bar
{
  background : rgba(0, 0, 0, 0.8);
  text-align: center;
  z-index: -1;
}
.menu-bar ul
{
    display: inline-flex;
  list-style: none;
  color: #fff;
}
.menu-bar ul li
{
  width: rgb(255, 0, 0);
  margin-top: 25px ;
  margin-bottom: 25px;
  padding: 10px 30px;
  font-family: mont;
  font-weight: lighter;
  letter-spacing: 0.1cm;
  font-variant: normal;
}
.menu-bar ul li a
{
 text-decoration: none;
 color: white;
}
.active , .menu-bar ul li:hover
{
  background: rgba(121, 96, 70, 0.3);
  border-radius: 3px;
}

.dua{
  color: white;
  background : rgba(0, 0, 0, 0.8);
  font-family: mont;
  font-weight: lighter;
  padding: 20px;
  margin: auto;
}
.dua p{
    font-size: 25px;
}

.dua h2{
  padding-top: 30px;
  font-family: mont;
  font-weight: lighter;
}
