*
{
  padding: 100;
  margin: 100;
}

H1 {
  text-align: center;
}
H2 {
  text-aligh: left;
}
body
{
  font-family: serif;
  text-align: center;
  background-color: lightblue;
}
ul {
  list-style-type: circle;
}
img {
  border-radius: 50%;
  text-align: center;
}

.text {
  background-color: pink;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}
