*
{
  padding: 100;
  margin: 100;
}
.menu-bar {
  background : rgba(0, 0, 0, 0.8);
  text-align: center;
  z-index: -1;
}
.menu-bar ul {
    display: inline-flex;
  list-style: none;
  color: #fff;
}
.menu-bar ul li {
  width: rgb(255, 0, 0);
  padding: 10px 30px;
}

.menu-bar ul li a {
 text-decoration: none;
 color: rgb(255, 250, 205);
}

.active , .menu-bar ul li:hover {
  background-color: #ddd;
  color: black;
  border-radius: 3px;
}
.H1 {
  text-align: center;
  Color: blue;
}
.body
{
  font-family: serif;
  text-align: center;
  background-color: lightblue;
}
