*
{
  padding: 100;
  margin: 0;
  box-sizing: inherit;
}
html{
  height: 100%;
  overflow:hidden;
}
@font-face {
font-family: "mont";
src: url("Montserrat/Montserrat-Thin.ttf");
}
body
{
color:#fff;
margin: 0;
padding: 0;
perspective: 1px;
transform-style: preserve-3d;
height: 100%;
overflow-y: scroll;
overflow-x: hidden;
font-family: mont;
color: #000;
}
header{
  box-sizing: border-box;
  min-height: 100vh;
  padding: 30vw 0 5vw;
  position:relative;
  transform-style: inherit;
  width: 100vw;
}
header h1{
  margin-top:  -350px;
  font-size: 90px;
  font-family: mont;
}
header p{
  margin-top:  -100px;
  font-size: 20px;
}

header, header:before{
  background: 50% 50% / cover;
}
header::before {
  bottom: 0;
  content: "";
  left: 0;
position: absolute;
right: 0;
top: 0;
display: block;
background-image: url(images/madina.jpg) ;
background-size: cover;
transform-origin: center center 0;
transform: translateZ(-1px) scale(2);
z-index: -1;
min-height: 100vh;
}
header * {
  font-weight: normal;
  letter-spacing: 0.2cm;
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

.menu-bar
{
  background : rgba(0, 0, 0, 0.8);
  text-align: center;
  z-index: -1;
}
.menu-bar ul
{
    display: inline-flex;
  list-style: none;
  color: #fff;
}
.menu-bar ul li
{
  width: rgb(255, 0, 0);
  margin-top: 25px ;
  margin-bottom: 25px;
  padding: 10px 30px;
  font-family: mont;
  font-weight: lighter;
  letter-spacing: 0.1cm;
  font-variant: normal;
}
.menu-bar ul li a
{
 text-decoration: none;
 color: white;
}
.active , .menu-bar ul li:hover
{
  background: rgba(121, 96, 70, 0.3);
  border-radius: 3px;
}

audio{
  position: relative;
}

.slider{
  overflow: hidden;
}
.slider figure{
  position:relative;
  width: 500%;
  margin: 0;
  left: 0;
  padding: inherit;
  animation: 20s slider infinite;
}
.slider figure img {
  float: left;
  width: 20%
}
@keyframes slider {
  0% {
    left: 0;
   }
  20% {
    left: 0;
   }
  25% {
    left: -100%;
   }
   45%{
     left: -100%;
    }
    50%{
      left: -200%;
    }
    70%{
      left: -200%;
    }
    75% {
      left: -300%;
    }
    95%{
      left: -300%;
    }
    100%{
      left: -400%;
    }
}
